<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <%= inline_svg('icon_uvl.svg', size: '36px * 36px', preserve_aspect_ratio: 'xMaxYMax meet')%>
      &nbsp;Ufficio Vertenze e Legale&nbsp;<strong id='text-primary'>&nbsp;<%= fa_icon('download') %>&nbsp;Scarico Ricevute:</strong>
    </h4>
    <hr id='hr-grey'>
    <div class='row'>
      <div class='col col-lg-12'>
        <%= search_form_for @q, id: 'search-form', url: bill_download_uvl_receipts_path do |f| %>
        <div class='col col-lg-3'>
          <div class='field'>
            <%= f.label 'Data Inizio:' %><br>
            <%= f.text_field :date_gteq, class: 'datepicker form-control', id: 'datestart' %>
          </div>
          <div class='field'>
            <%= f.label 'Data Fine:' %><br>
            <%= f.text_field :date_lteq, class: 'datepicker form-control', id: 'dateend' %>
          </div>
        </div>
        <div class='col col-lg-4'>
          <div class="field">
            <%= f.label 'Ufficio:' %>
            <br>
            <%= f.collection_select(:uvl_office_id_eq, UvlOffice.order('position ASC'), :id, :name, {:include_blank => true}, {:class => 'form-control', :id => 'office-id'}) %>
          </div>
          <br>
          <div class='form-actions'>
            <%= button_tag type: 'submit', class: 'btn btn-default btn-sm' do %>
            <%= fa_icon('search') %>&nbsp;Cerca
          <% end %>
          <% if @uvl_receipts.count > 0 %>
            &nbsp;
            <%= link_to fa_icon('print') + ' ' + ' Stampa la Distinta', bill_download_uvl_receipts_path(request.parameters.merge(format: 'pdf')), target: 'new', class: 'btn btn-default btn-sm', id: 'print' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<hr id='hr-grey'>
<div class='row'>
  <div class='col col-lg-12'>
    <table class='table table-striped table-hove'>
      <thead>
        <tr>
          <th>Numero:</th>
          <th>Data:</th>
          <th>Nome e Cognome:</th>
          <th>Codice Fiscale:</th>
          <th>Ammontare:</th>
          <th>Note:</th>
        </tr>
      </thead>
      <tbody>
        <% @uvl_receipts.each do |uvl_receipt| %>
          <tr>
            <td><%= uvl_receipt.name %></td>
            <td><%= uvl_receipt.date.strftime('%d/%m/%Y') %></td>
            <td><%= uvl_receipt.customer_name %>&nbsp;<%= uvl_receipt.customer_forname %></td>
            <td><%= uvl_receipt.customer_fiscal_code %></td>
            <td><%= number_to_currency(uvl_receipt.payment) %></td>
            <td><%= uvl_receipt.note %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @uvl_receipts, :previous_label => t("precedente"), :next_label => t("prossimo"), renderer: BootstrapPagination::Rails %>
  </div>
</div>
</div>
</div>
<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({ language: 'it' });
  });

  $('#search-form').submit(function () {
    if ($('#office-id').val() == "") {
      alert("Devi selezionare l'Ufficio e cliccare su Cerca");
      return false;
    };
    if ($('#datestart').val() == "") {
      alert("Devi selezionare la data di Inizio");
      return false;
    };
    if ($('#dateend').val() == "") {
      alert("Devi selezionare la data di Fine");
      return false;
    };
    return;
  });

  $('#print').click(function () {
    if ($('#office-id').val() == "") {
      alert("Devi selezionare l'Ufficio e cliccare su Cerca");
      return false;
    };
    if ($('#datestart').val() == "") {
      alert("Devi selezionare la data di Inizio");
      return false;
    };
    if ($('#dateend').val() == "") {
      alert("Devi selezionare la data di Fine");
      return false;
    };
    return;
  });
</script>
