<%= form_for(@inca_subscription) do |f| %>
<% if @inca_subscription.errors.any? %>
  <div id='error_explanation'>
    <h2>
      <%= pluralize(@inca_subscription.errors.count, 'error') %>
      non posso salvare il record corrente:</h2>
    <ul>
      <% @inca_subscription.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<br>
<strong>
  Sottoscrizione n°&nbsp;<%= @inca_subscription.name %>&nbsp;del&nbsp;<%= @inca_subscription.date.strftime('%d/%m/%Y') %>
  per:&nbsp;<%= @inca_subscription.customer_name %>&nbsp;<%= @inca_subscription.customer_forname %>&nbsp;-&nbsp;<%= @inca_subscription.customer_fiscal_code %>
</strong>
<br>
<br>
<div class='row'>
  <div class='col col-lg-4'>
    <div class='field'>
      <%= f.label 'Annulla la Ricevuta::', id: 'text-primary' %><br>
      <%= f.collection_select(:cancellation_id, Cancellation.order('name ASC'), :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
    </div>
    <br>
    <small>
      (* Il campo Motivo dell'Annullamento: &egrave; obbligatorio)
    </small>
    <div class='field'>
      <%= f.label 'Modivo dell\'Annullamento:', id: 'text-primary' %><br>
      <%= f.text_field :cancellation_reason, required: true, class: 'form-control' %>
    </div>
  </div>
</div>
<hr id='hr-grey'>
<div class='row'>
  <div class='col col-lg-4'>
    <div class='form-group'>
      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
      <%= fa_icon('save') %>&nbsp;Salva
    <% end %>
  </div>
</div>
</div>
<% end %>
<script type="text/javascript">
$('form').submit(function () { //When a form is submitted...
$('input').each(function () { //Check each input...
  if ($(this).val() == "") { //To see if it is empty...
    alert("Missing field"); //Say that it is
    return false; //Don't submit the form
  }
});
return; //If we made it this far, all is well, submit the form
});
</script>
