<%= form_for(@inca_receipt) do |f| %>
  <% if @inca_receipt.errors.any? %>
    <div id='error_explanation'>
      <h3 id='text-danger'>
        Ci sonno errori di imissione o campi obbligatori mancanti. <br>
        Non posso salvare la sottoscrizione corrente! <br>
        <small id='text-warning'>elenco degli errori:</small>
      </h3>
      <ul>
      <% @inca_receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='row'>
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>ATTENZIONE </strong> Tutti i campi contraddistinti dall'asterisco * sono OBBLIGATORI!
    </div>
    <div class='col col-lg-4'>
      <div class='field'>
        <%= f.label 'Ufficio:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.collection_select(:inca_office_id, IncaOffice.order('position ASC'), :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
      </div>
      <div class='field'>
        <%= f.label 'Nome:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_name, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label 'Cognome:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_forname, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label 'Luogo di Nascita:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_birth_place, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label 'Data di Nascita' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_birth_date, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label 'Codice Fiscale:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_fiscal_code, class: 'form-control' %>
      </div>
    </div>
    <div class='col col-lg-4'>
      <div class='field'>
        <%= f.label 'Indirizzo:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_address, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label 'Cap:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_zip, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label 'Comune:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_city, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label 'Provincia:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :customer_province, class: 'form-control' %>
      </div>
    </div>
    <div class='col col-lg-4'>
      <div class='field'>
        <%= f.label 'Ammontare:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.text_field :payment, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label 'Tipologia Pagamento:' %>&nbsp;<strong id='text-danger'>*</strong><br>
        <%= f.collection_select(:payment_typology_id, PaymentTypology.order('position ASC'), :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
      </div>
      <div class='field'>
        <%= f.label 'Note:' %><br>
        <%= f.text_area :note %>
      </div>
    </div>
  </div>
  <hr id='hr-grey'>
  <div class='row'>
    <div class='col col-lg-4'>
      <div class='form-group'>
        <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
        <%= fa_icon('save') %>&nbsp;Salva
        <% end %>
      </div>
    </div>
  </div>
<% end %>
