<% if @inca_receipt.cancellation_id != nil %>
<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <%= inline_svg('icon_inca.svg', size: '36px * 36px', preserve_aspect_ratio: 'xMaxYMax meet')%>
      &nbsp;Patronato INCA&nbsp;
      <strong id='text-primary'>&nbsp;Ricevuta Liberalit&agrave</strong>
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left') + ' ' + fa_icon('list') + ' ' + 'Ritorna alla Lista', inca_receipts_path, class: 'btn btn-default btn-sm' %>
      </span>
    </h4>
    <hr id='hr-grey'>
    <br>
    <div class='panel panel-danger'>
      <div class='panel-body'>
        <h3 id='text-centered'>
          <strong id='text-danger'>
            Annullata!
          </strong>
        </h3>
        <p id='text-centered'>
          Non puoi visualizzare la ricevuta corrente in quanto &egrave; stata annullata.
          <br>
          ..................................................................................................
          <br>
          <small>
            Motivo Annullamento:
          </small>
          <br>
          <%= @inca_receipt.cancellation_reason %>
        </p>
      </div>
    </div>
    <p id='text-centered'>
      <strong>
        Ricevuta n°&nbsp;
        <%= @inca_receipt.name %>&nbsp;del&nbsp;
        <%= @inca_receipt.created_at.strftime('%d/%m/%Y') %>
        &nbsp; creata ale ore:&nbsp;
        <%= @inca_receipt.created_at.strftime('%H:%M') %>&nbsp;
        per:&nbsp;
        <%= @inca_receipt.customer_name %>&nbsp;
        <%= @inca_receipt.customer_forname %>
        &nbsp;C.F.&nbsp;
        <%= @inca_receipt.customer_fiscal_code %>
      </strong>
    </p>
  </div>
</div>
<% else %>
<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <%= inline_svg('icon_inca.svg', size: '36px * 36px', preserve_aspect_ratio: 'xMaxYMax meet')%>
      &nbsp;Patronato INCA&nbsp;
      <strong id='text-primary'>
        &nbsp;Ricevuta Liberalit&agrave:&nbsp;
        <%= @inca_receipt.name %>&nbsp;del:&nbsp;
        <%= @inca_receipt.date.strftime('%d/%m/%Y') %></strong>
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left') + ' ' + fa_icon('list') + ' ' + 'Ritorna alla Lista', inca_receipts_path, class: 'btn btn-default btn-sm' %>
        <% if @inca_receipt.pdf_file_name == nil %>
        &nbsp;
        <%= link_to fa_icon('print') + ' ' + ' Stampa la Ricevuta da firmare', inca_receipt_path(@inca_receipt, format: 'pdf'), target: 'new', class: 'btn btn-default btn-sm' %>
        <% end %>
      </span>
    </h4>
    <hr id='hr-grey'>
    <% if @inca_receipt.pdf_file_name == nil %>
    <div class='row'>
      <div class='col col-lg-12'>
        <%= form_for(@inca_receipt) do |f| %>
        <% if @inca_receipt.errors.any? %>
        <div id='error_explanation'>
          <h2>
            <%= pluralize(@inca_receipt.errors.count, 'error') %>
            non posso salvare il record corrente:</h2>
          <ul>
            <% @inca_receipt.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class='field'>
          <div class='well well-lg'>
            <h4>
              <%= f.label 'Allega la Ricevuta firmata(pdf):' %><br>
              <%= f.file_field :pdf, class: 'btn btn-default btn-sm' %>
            </h4>
            <div class='row'>
              <div class='col col-lg-12'>
                <div class='col col-lg-4'>
                  <% if @inca_receipt.payment >= 77.44 %>
                  <div class='alert alert-warning'>
                    <h4>ATTENZIONE!</h4>
                    <p>L'importo supera i 77,44 Euro ricordarsi di allegare la marca da bollo!</p>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm') do %>
          <%= fa_icon('save') %>&nbsp;Salva
          <% end %>
        </div>
        <% end %>
        <hr id='hr-grey'>
      </div>
    </div>
    <% end %>
    <dl class='dl-horizontal'>
      <div class='row'>
        <div class='col col-lg-4'>
          <dt>Data:</dt>
          <dd>
            <%= @inca_receipt.date.strftime('%d/%m/%Y') %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>Operatore:</dt>
          <dd>
            <%= @inca_receipt.user.name %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>Istituto:</dt>
          <dd>
            <%= @inca_receipt.institute %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>Ufficio:</dt>
          <dd>
            <%= @inca_receipt.inca_office.name %>
          </dd>
        </div>
        <div class='col col-lg-4'>
          <dt>Nome e Cognome:</dt>
          <dd>
            <%= @inca_receipt.customer_name %>&nbsp;
            <%= @inca_receipt.customer_forname %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>Luogo di nascita:</dt>
          <dd>
            <%= @inca_receipt.customer_birth_place %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>Data di Nascita:</dt>
          <dd>
            <%= @inca_receipt.customer_birth_date.strftime('%d/%m/%Y') %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>Codice Fiscale:</dt>
          <dd>
            <%= @inca_receipt.customer_fiscal_code %>
          </dd>
        </div>
        <div class='col col-lg-4'>
          <dt>Indirizzo:</dt>
          <dd>
            <%= @inca_receipt.customer_address %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>Cap:</dt>
          <dd>
            <%= @inca_receipt.customer_zip %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>Comune:</dt>
          <dd>
            <%= @inca_receipt.customer_city %>
            <br>
            <hr id='hr-grey'>
          </dd>
          <dt>provincia:</dt>
          <dd>
            <%= @inca_receipt.customer_province %>
          </dd>
        </div>
      </div>
      <hr id='hr-grey'>
      <div class='row'>
        <div class='col col-lg-4'>
          <dt>Tipo Pagamento:</dt>
          <dd>
            <%= @inca_receipt.payment_typology.name %>
          </dd>
          <dt>Ammontare:</dt>
          <dd>
            <strong>
              <%= number_to_currency(@inca_receipt.payment) %></strong>
          </dd>
        </div>
        <div class='col col-lg-8'>
          <dt>Note:</dt>
          <dd>
            <%= @inca_receipt.note %>
          </dd>
        </div>
      </div>
    </dl>
  </div>
</div>
<div class='row'>
  <div class='col col-lg-12'>
    <div class='row'>
      <div class='col col-lg-12' id='text-centered'>
        <% if @inca_receipt.pdf_file_name != nil %>
        <iframe src=<%=@inca_receipt.pdf %> width='945' height='1340' style='border: none;'></iframe>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>