<% if @uvl_subscription.cancellation_id != nil %>
<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <%= inline_svg('icon_uvl.svg', size: '36px * 36px', preserve_aspect_ratio: 'xMaxYMax meet')%>
      &nbsp;Ufficio Vertenze e legale&nbsp;
      <strong id='text-primary'>&nbsp;Sottoscrizione</strong>
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left') + ' ' + fa_icon('list') + ' ' + 'Ritorna alla Lista', uvl_subscriptions_path, class: 'btn btn-default btn-sm' %>
      </span>
    </h4>
    <hr id='hr-grey'>
    <br>
    <div class='panel panel-danger'>
      <div class='panel-body'>
        <h3 id='text-centered'>
          <strong id='text-danger'>
            Annullata!
          </strong>
        </h3>
        <p id='text-centered'>
          Non puoi visualizzare la ricevuta corrente in quanto &egrave; stata annullata.
          <br>
          ..................................................................................................
          <br>
          <small>
            Motivo Annullamento:
          </small>
          <br>
          <%= @uvl_subscription.cancellation_reason %>
        </p>
      </div>
    </div>
    <p id='text-centered'>
      <strong>
        Sottoscrizione n°&nbsp;
        <%= @uvl_subscription.name %>&nbsp;del&nbsp;
        <%= @uvl_subscription.created_at.strftime('%d/%m/%Y') %>
        &nbsp; creata ale ore:&nbsp;
        <%= @uvl_subscription.created_at.strftime('%H:%M') %>&nbsp;
        per:&nbsp;
        <%= @uvl_subscription.customer_name %>&nbsp;
        <%= @uvl_subscription.customer_forname %>
        &nbsp;C.F.&nbsp;
        <%= @uvl_subscription.customer_fiscal_code %>
      </strong>
    </p>
  </div>
</div>
<% else %>
<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <%= inline_svg('icon_uvl.svg', size: '36px * 36px', preserve_aspect_ratio: 'xMaxYMax meet')%>
      &nbsp;Ufficio Vertenze e Legale&nbsp;
      <strong id='text-primary'>
        &nbsp;Sottoscrizione:&nbsp;
        <%= @uvl_subscription.name %>&nbsp;del:&nbsp;
        <%= @uvl_subscription.date.strftime('%d/%m/%Y') %></strong>
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left') + ' ' + fa_icon('list') + ' ' + 'Ritorna alla Lista', uvl_subscriptions_path, class: 'btn btn-default btn-sm' %>
      </span>
    </h4>

    <div class='row'>
      <div class='col col-lg-12'>
        <% if @uvl_subscription.pdf_file_name == nil %>
        <span class='pull-right'>
          &nbsp;
          <%= link_to fa_icon('print') + ' ' + ' Stampa la Sottoscrizione da firmare', uvl_subscription_path(@uvl_subscription, format: 'pdf'), target: 'new', class: 'btn btn-default btn-sm' %>
        </span>
        <br>
        <br>
        <hr id='hr-grey'>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-6'>
        <%= form_for(@uvl_subscription) do |f| %>
        <% if @uvl_subscription.errors.any? %>
        <div id='error_explanation'>
          <h2>
            <%= pluralize(@uvl_subscription.errors.count, 'error') %>
            non posso salvare il record corrente:</h2>
          <ul>
            <% @uvl_subscription.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <% if @uvl_subscription.pdf_file_name == nil %>
        <div class='row'>
          <div class='col col-lg-12'>
            <div class='field'>
              <div class='well well-lg'>
                <h4>
                  <%= f.label 'Allega la Ricevuta firmata(pdf):' %><br>
                  <%= f.file_field :pdf, class: 'btn btn-default btn-sm' %>
                  &nbsp;
                  <div class='form-group'>
                    <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                    <%= fa_icon('save') %>&nbsp;Salva
                    <% end %>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end%>
      </div>
    </div>
    <hr id='hr-grey'>
    <div class='row'>
      <div class='col col-lg-6' id='text-centered'>
        <% if @uvl_subscription.subscription_typology_id == 1 %>
        RINNOVO:&nbsp;
        <%= inline_svg('check_no.svg', size: '16pt * 16pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        NUOVA ISCRIZIONE:&nbsp;
        <%= inline_svg('check_yes.svg', size: '16pt * 16pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        <% elsif @uvl_subscription.subscription_typology_id == 2 %>
        RINNOVO:&nbsp;
        <%= inline_svg('check_yes.svg', size: '16pt * 16pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        NUOVA ISCRIZIONE:&nbsp;
        <%= inline_svg('check_no.svg', size: '16pt * 16pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        <% end %>
      </div>
      <div class='col col-lg-6' id='text-centered'>
      </div>
    </div>
    <hr id='hr-grey'>

    <div class='row'>
      <div class='col col-lg-6'>
        <dl class='dl-horizontal'>
          <dt>Nome:</dt>
          <dd>
            <%= @uvl_subscription.customer_name %>
          </dd>
          <dt>Cognome:</dt>
          <dd>
            <%= @uvl_subscription.customer_forname %>
          </dd>
          <dt>Sesso:</dt>
          <dd>
            <%= @uvl_subscription.sex.name %>
          </dd>
          <dt>Nato a:</dt>
          <dd>
            <%= @uvl_subscription.customer_birth_place %>
          </dd>
          <dt>Nato il:</dt>
          <dd>
            <%= @uvl_subscription.customer_birth_date.strftime('%d/%m/%Y') %>
          </dd>
          <dt>Nazionalit&agrave;</dt>
          <dd>
            <%= @uvl_subscription.customer_nationality %>
          </dd>
        </dl>
      </div>
      <div class='col col-lg-6'>
        <dl class='dl-horizontal'>
          <dt>Indirizzo:</dt>
          <dd>
            <%= @uvl_subscription.customer_address %>
          </dd>
          <dt>Cap:</dt>
          <dd>
            <%= @uvl_subscription.customer_zip %>
          </dd>
          <dt>Comune:</dt>
          <dd>
            <%= @uvl_subscription.customer_city %>
          </dd>
          <dt>Provincia:</dt>
          <dd>
            <%= @uvl_subscription.customer_province %>
          </dd>
        </dl>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-6'>
        <dl class='dl-horizontal'>
          <dt>Telefono:</dt>
          <dd>
            <%= @uvl_subscription.customer_phone %>
          </dd>
          <dt>Cellulare:</dt>
          <dd>
            <%= @uvl_subscription.customer_mobile %>
          </dd>
        </dl>
      </div>
      <div class='col col-lg-6'>
        <dl class='dl-horizontal'>
          <dt>
            <h4>
              <strong>
                Codice Fiscale:
              </strong>
            </h4>
          </dt>
          <dd>
            <h4><strong id='text-info'>
                <%= @uvl_subscription.customer_fiscal_code %></strong></h4>
          </dd>
        </dl>
      </div>
    </div>
    <hr id='hr-grey'>
    <div class='row'>
      <div class='col col-lg-6'>
        <dl class='dl-horizontal'>
          <dt>Azienda:</dt>
          <dd>
            <%= @uvl_subscription.company_name %>
          </dd>
          <dt>Tipologia:</dt>
          <% if @uvl_subscription.company_typology_id != nil %>
          <dd>
            <%= @uvl_subscription.company_typology.name %>
          </dd>
          <% else %>
          <dd></dd>
          <% end %>
          <dt>Indirizzo:</dt>
          <dd>
            <%= @uvl_subscription.company_address %>
          </dd>
          <dt>Cap:</dt>
          <dd>
            <%= @uvl_subscription.company_zip %>
          </dd>
          <dt>Comune:</dt>
          <dd>
            <%= @uvl_subscription.company_city %>
          </dd>
          <dt>Provincia:</dt>
          <dd>
            <%= @uvl_subscription.company_province %>
          </dd>
        </dl>
      </div>
      <div class='col col-lg-6'>
        <dl class='dl-horizontal'>
          <dt>Tipo lavoro:</dt>
          <% if @uvl_subscription.work_worker_id != nil %>
          <dd>
            <%= @uvl_subscription.work_worker.name %>
          </dd>
          <% else %>
          <dd></dd>
          <% end %>
          <dt>Qalifica:</dt>
          <% if @uvl_subscription.work_qualify_id != nil %>
          <dd>
            <%= @uvl_subscription.work_qualify.name %>
          </dd>
          <% else %>
          <dd></dd>
          <% end %>
          <dt>Livello:</dt>
          <% if @uvl_subscription.work_level_id != nil %>
          <dd>
            <%= @uvl_subscription.work_level.name %>
          </dd>
          <% else %>
          <dd></dd>
          <% end %>
          <dt>Contratto:</dt>
          <dd>
            <%= @uvl_subscription.work_contract %>
          </dd>
          <dt>Data Assunzione:</dt>
          <% if @uvl_subscription.work_employee_date != nil %>
          <dd>
            <%= @uvl_subscription.work_employee_date.strftime('%d/%m/%Y') %>
          </dd>
          <% else %>
          <dd></dd>
          <% end %>
          <dt>Sede Lavorativa:</dt>
          <dd>
            <%= @uvl_subscription.work_workplace %>
          </dd>
        </dl>
      </div>
    </div>
    <hr id='hr-grey'>
    <div class='row'>
      <div class='col col-lg-4' id='text-centered'>
        Ha versato: <strong>
          <%= number_to_currency(@uvl_subscription.payment) %></strong>
      </div>
      <div class='col col-lg-4' id='text-centered'>
        per l'iscrizione alla categoria: <strong id='text-info'>
          <%= @uvl_subscription.category.name %></strong>
      </div>
      <div class='col col-lg-4' id='text-centered'>
        in data: <strong id='text-info'>
          <%= @uvl_subscription.date.strftime('%d/%m/%Y') %></strong>
      </div>
    </div>
    <hr id='hr-grey'>
    <div class='row'>
      <div class='col col-lg-12'>
        <br>
        Sottoscrizione raccolta da:&nbsp;<strong>
          <%= @uvl_subscription.institute %></strong>
        &nbsp;ufficio di:&nbsp;<strong>
          <%= @uvl_subscription.uvl_office.name %></strong>
        <br>
        &nbsp;operatore:&nbsp;<strong>
          <%= @uvl_subscription.user.name %></strong>
        &nbsp;evento attivazione:&nbsp;<strong>
          <%= @uvl_subscription.practise_typology.name %></strong>
        <br>
        <br>
      </div>
    </div>
    <hr id='hr-grey'>
    <div class='row'>
      <div class='col col-lg-12' id='text-centered'>
        Privacy 1:&nbsp;
        <% if @uvl_subscription.privacy_one_id == 1 %>
        &nbsp;
        <%= inline_svg('check_yes.svg', size: '11pt * 11pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        <% else %>
        &nbsp;
        <%= inline_svg('check_no.svg', size: '11pt * 11pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        <% end %>
        &nbsp;
        Privacy 2:&nbsp;
        <% if @uvl_subscription.privacy_two_id == 1 %>
        &nbsp;
        <%= inline_svg('check_yes.svg', size: '11pt * 11pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        <% else %>
        &nbsp;
        <%= inline_svg('check_no.svg', size: '11pt * 11pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        <% end %>
        &nbsp;
        Privacy 3:&nbsp;
        <% if @uvl_subscription.privacy_three_id == 1 %>
        &nbsp;
        <%= inline_svg('check_yes.svg', size: '11pt * 11pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        <% else %>
        &nbsp;
        <%= inline_svg('check_no.svg', size: '11pt * 11pt', preserve_aspect_ratio: 'xMaxYMax meet') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='row'>
    <div class='col col-lg-12'>
      <div class='row'>
        <div class='col col-lg-12' id='text-centered'>
          <% if @uvl_subscription.pdf_file_name != nil %>
          <iframe src=<%=@uvl_subscription.pdf %> width='945' height='1340' style='border: none;'></iframe>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>